<h3 class="center">Zip Codes</h3>

<div class="row">
  <div class="col s12 m4">
    <div class="card-panel grey lighten-5 hoverable">
      <h5 class="center teal-text text-darken-4">Highest Incomes:</h5>
      <ol>
        <% @zips.high_incomes.each do |zip| %>
        <li><%= link_to zip.id, zip_path(zip) %>: <span class="right"><%= number_to_currency(zip.mean_income, precision: 0) %></span></li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel grey lighten-5 hoverable">
      <h5 class="center teal-text text-darken-4">Lowest Incomes:</h5>
      <ol>
        <% @zips.low_incomes.each do |zip| %>
        <li><%= link_to zip.id, zip_path(zip) %>: <span class="right"><%= number_to_currency(zip.mean_income, precision: 0) %></span></li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel grey lighten-5 hoverable">
      <h5 class="center teal-text text-darken-4">Highest Pops:</h5>
      <ol>
        <% @zips.highest_pops.each do |zip| %>
        <li><%= link_to zip.id, zip_path(zip) %>: <span class="right"><%= number_with_delimiter(zip.n1) %></span></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>

<!-- noUISlider - npm install nouislider <div class="test-slider></div>" Select ranve of incomes/dynamic querying -->
<!-- <form action="#">
   <p class="range-field">
     <input type="range" id="test5" min="0" max="100" />
   </p>
 </form> -->
