<h3><%= @zip.id %></h3>
<h5>Located in: <%= @zip.state.abbreviation %></h5>
<h5>Number of Returns: <%= @zip.n1 %></h5>
<h5>Percent Single: <%= @zip.percent_single %></h5>
<h5>Percent Joint File: <%= @zip.percent_joint %></h5>
<h5>Percent HOH: <%= @zip.percent_hoh %></h5>
<h5>Percent Paid Prep: <%= @zip.percent_paid_prep %></h5>
<h5>Average Number of Dependents: <%= @zip.average_dependents %></h5>
<h5>Percent Elderly: <%= @zip.percent_elderly %></h5>
<h5>Mean Adjusted Gross Income*: <%= @zip.mean_income %></h5>
