<h3 class="center"><%= @presenter.code %></h3>
<h5 class="center">Located in: <%= link_to @presenter.state_name, state_path(@presenter.state) %></h5>

<%= render partial: "/partials/#{@presenter.fav_partial}" %>

<div class="row">
  <%= render partial: 'partials/detail_card', locals: { data: @presenter.basic_irs_card } %>
</div>

<div id="map-info"></div>
<div id="map"></div>

<%= render partial: 'partials/map' %>
