<h3 class="center"><%= @zip.code %></h3>
<h5 class="center">Located in: <%= link_to @zip.state_name, state_path(@zip.state) %></h5>

<div class="row">
  <div class="col s12 m4">
    <div class="card-panel grey lighten-5 hoverable base-card">
      <h5 class="center teal-text text-darken-4">Basic IRS Data</h5>
      <h6>No. of Returns: <span class="right"><%= number_with_delimiter(@zip.n1) %></h6>
      <h6>Percent Single: <span class="right"><%= @zip.percent_single %>%</span></h6>
      <h6>Percent Joint File: <span class="right"><%= @zip.percent_joint %>%</span></h6>
      <h6>Percent HOH: <span class="right"><%= @zip.percent_hoh %>%</span></h6>
      <h6>Percent Paid Prep: <span class="right"><%= @zip.percent_paid_prep %>%</span></h6>
      <h6>Avg No. Dependents: <span class="right"><%= @zip.average_dependents %></span></h6>
      <h6>Percent Elderly: <span class="right"><%= @zip.percent_elderly %>%</span></h6>
      <h6>Avg Income: <span class="right"><%= number_to_currency(@zip.mean_income, precision: 0) %></span></h6>
    </div>
  </div>
</div>

<div id="map-info"></div>
<div id="map"></div>

<% if @zip.lat %>
<!-- if there is a valid map -->
<script>
  const lat = <%= @zip.lat %>;
  const lng = <%= @zip.lng %>;
  const ne_lat = <%= @zip.ne_lat %>;
  const ne_lng = <%= @zip.ne_lng %>;
  const sw_lat = <%= @zip.sw_lat %>;
  const sw_lng = <%= @zip.sw_lng %>;
  const title = <%= @zip.code %>

  var highIncomes = [];
  var lowIncomes = [];
</script>

<%= javascript_include_tag 'maps' %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&callback=initMap", async: true, defer: true %>
<<% else %>
  <!-- if no valid map -->
  <script>
    const map = document.querySelector("#map")
    map.style.display = 'hidden'
  </script>
<% end %>
