<h3 class="center"><%= @zip.code %></h3>
<h5 class="center">Located in: <%= link_to @zip.state_name, state_path(@zip.state) %></h5>

<div class="row">
  <div class="col s12 m4">
    <div class="card-panel grey lighten-5 hoverable">
      <h5 class="center teal-text text-darken-4">Basic IRS Data</h5>
      <h6>No. of Returns: <span class="right"><%= number_with_delimiter(@zip.n1) %></h6>
      <h6>Percent Single: <span class="right"><%= @zip.percent_single %>%</span></h6>
      <h6>Percent Joint File: <span class="right"><%= @zip.percent_joint %>%</span></h6>
      <h6>Percent HOH: <span class="right"><%= @zip.percent_hoh %>%</span></h6>
      <h6>Percent Paid Prep: <span class="right"><%= @zip.percent_paid_prep %>%</span></h6>
      <h6>Avg No. Dependents: <span class="right"><%= @zip.average_dependents %></span></h6>
      <h6>Percent Elderly: <span class="right"><%= @zip.percent_elderly %>%</span></h6>
      <h6>Avg Income: <span class="right"><%= number_to_currency(@zip.mean_income, precision: 0) %></span></h6>
    </div>
  </div>
</div>

<div id="map"></div>

<% if @zip.lat != 0 %>
<script>
function initMap() {
  var options = {
    zoom: 13,
    center: {lat: <%= @zip.lat %>, lng: <%= @zip.lng %>}
  }
  var map = new google.maps.Map(document.querySelector('#map'), options);
  var bounds = {
    north: <%= @zip.ne_lat %>,
    south: <%= @zip.sw_lat %>,
    east: <%= @zip.ne_lng %>,
    west: <%= @zip.sw_lng %>
  }
  map.fitBounds(bounds, -10)
}
</script>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&callback=initMap", async: true, defer: true %>
<% end %>
