<h3 class="center">States</h3>

<div class="row">
  <div class="col s12 m4">
    <div class="card-panel grey lighten-5 hoverable">
      <h5 class="center teal-text text-darken-4">Highest Incomes:</h5>
      <ol>
        <% @presenter.high_incomes.each do |state| %>
        <li><%= link_to state.name, state_path(state) %>: <span class="right"><%= number_to_currency(state.mean_income, precision: 0) %></span></li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel grey lighten-5 hoverable">
      <h5 class="center teal-text text-darken-4">Lowest Incomes:</h5>
      <ol>
        <% @presenter.low_incomes.each do |state| %>
        <li><%= link_to state.name, state_path(state) %>: <span class="right"><%= number_to_currency(state.mean_income, precision: 0) %></span></li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel grey lighten-5 hoverable">
      <h5 class="center teal-text text-darken-4">Highest Pops:</h5>
      <ol>
        <% @presenter.highest_pops.each do |state| %>
        <li><%= link_to state.name, state_path(state) %>: <span class="right"><%= number_with_delimiter(state.n1) %></span></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>

<h5>All States</h5>
<% @presenter.states.each do |state| %>
  <%= link_to state.name, state_path(state) %>
<% end %>
