<h3 class="center base-card">States</h3>

<div class="row">
  <%= render partial: 'partials/ranking_card', locals: { data: @presenter.card1 } %>
  <%= render partial: 'partials/ranking_card', locals: { data: @presenter.card2 } %>
  <%= render partial: 'partials/ranking_card', locals: { data: @presenter.card3 } %>
</div>

<div id="map-info"></div>
<div id="map"></div>

<h5 class="center">All States</h5>
<div class='all-states'>
<% @presenter.states.each do |state| %>
   <%= link_to state.name, state_path(state), class: 'state-link' %>
<% end %>
</div>

<%= render partial: 'partials/map' %>
