<h3 class="center"><%= @presenter.name %></h3>

<div class="row">
  <div class="col s12 m4">
    <div class="card-panel grey lighten-5 hoverable base-card">
      <h5 class="center teal-text text-darken-4">Basic IRS Data</h5>
      <p>No. of Returns: <span class="right"><%= number_with_delimiter(@presenter.n1) %></p>
      <p>Percent Single: <span class="right"><%= @presenter.percent_single %>%</span></p>
      <p>Percent Joint File: <span class="right"><%= @presenter.percent_joint %>%</span></p>
      <p>Percent HOH: <span class="right"><%= @presenter.percent_hoh %>%</span></p>
      <p>Percent Paid Prep: <span class="right"><%= @presenter.percent_paid_prep %>%</span></p>
      <p>Avg Dependents: <span class="right"><%= @presenter.average_dependents %></span></p>
      <p>Percent Elderly: <span class="right"><%= @presenter.percent_elderly %>%</span></p>
      <p>Avg Income: <span class="right"><%= number_to_currency(@presenter.mean_income, precision: 0) %></span></p>
    </div>
  </div>
  <%= render partial: "partials/ranking_card", locals: { data: @presenter.high_incomes } %>
  <%= render partial: "partials/ranking_card", locals: { data: @presenter.low_incomes } %>

</div>

<div id="map-info"></div>
<div id="map"></div>

<h5 class="center">Zip Codes in <%= @presenter.name %></h5>
<% @presenter.zips.each do |zip| %>
  <%= link_to zip.code, zip_path(zip) %>
<% end %>

<h5 class="center">Counties in <%= @presenter.name %></h5>
<% @presenter.counties.each do |county| %>
  <%= link_to county.name, county_path(county) %>
<% end %>

<%= render partial: "partials/map" %>
