<h3 class="center"><%= @presenter.name %></h3>

<div class="row">
  <%= render partial: 'partials/detail_card', locals: { data: @presenter.basic_irs_card } %>
  <%= render partial: 'partials/ranking_card', locals: { data: @presenter.high_incomes } %>
  <%= render partial: 'partials/ranking_card', locals: { data: @presenter.low_incomes } %>
</div>

<div id="map-info"></div>
<div id="map"></div>

<h5 class="center">Zip Codes in <%= @presenter.name %></h5>
<% @presenter.zips.each do |zip| %>
  <%= link_to zip.code, zip_path(zip) %>
<% end %>

<h5 class="center">Counties in <%= @presenter.name %></h5>
<% @presenter.counties.each do |county| %>
  <%= link_to county.name, county_path(county) %>
<% end %>

<%= render partial: 'partials/map' %>
