<h3 class="center"><%= @presenter.name %></h3>
<h5 class="center">Located in: <%= link_to @presenter.state.name, state_path(@presenter.state) %></h5>

<div class="row">
  <%= render partial: 'partials/detail_card', locals: { data: @presenter.health_card } %>
  <%= render partial: 'partials/detail_card', locals: { data: @presenter.socio_economic_card } %>
</div>

<div id="map-info"></div>
<div id="map"></div>

<%= render partial: "partials/map" %>
