<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131085760-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131085760-1');
    </script>
    <title><%= "@presenter.page_title" %></title>
    <meta name="description" content="<%= "@presenter.page_description" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
  <div class="navbar-fixed">
    <nav class="teal darken-4">
      <div class="container">
        <div class="nav-wrapper">
          <%= link_to image_tag('AnalyZip.svg', alt: 'AnalyZip', width: 145, class: 'az-logo'), root_path, class: 'brand-logo' %>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li><%= link_to "My Profile", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
            <li><%= link_to 'States', states_path %></li>
            <li><%= link_to 'Counties', counties_path %></li>
            <li><%= link_to 'Zip Codes', zips_path %></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-nav">
    <% if user_signed_in? %>
      <li><%= link_to "My Profile", edit_user_registration_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Login", new_user_session_path %></li>
    <% end %>
    <li><%= link_to 'States', states_path %></li>
    <li><%= link_to 'Counties', counties_path %></li>
    <li><%= link_to 'Zip Codes', zips_path %></li>
  </ul>

  <div class="container">
    <%= javascript_include_tag 'application' %>
    <script>
      M.toast({<%= alert %>})
      M.toast({<%= notice %>})
    </script>
    <%= yield %>
  </div>

  <footer class="teal darken-4 white-text center">
    <p>AnalyZip</p>
  </footer>


</body>
</html>
